@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sgh {
    background: rgb(235, 229, 19);
    background: radial-gradient(
      circle,
      rgba(235, 229, 19, 1) 0%,
      rgba(200, 199, 25, 1) 6%,
      rgba(91, 223, 24, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .navlinks {
    @apply lg:text-base font-semibold relative flex gap-1 hover:text-[#8064A2]  font-sans text-xs transition-all;
  }
  .login-btn {
    @apply px-4 py-1 rounded-md text-[#8064A2]  flex items-center gap-1 text-xs lg:text-base border-2 border-[#8064A2] hover:bg-[#8064A2] hover:text-white hover:border-white transition-all;
  }
  .sub-navlinks {
    @apply flex flex-col gap-5 text-left px-4 absolute bg-white top-12 w-52;
  }
  .md-navbar {
    @apply w-full h-16 p-5 px-2  justify-between items-center pt-4 bg-[#FFFFFF] hidden md:flex text-[black]  z-10;
  }
  .init-navbar {
    @apply flex justify-between md:hidden items-center p-4 px-3 sm:p-5 w-full bg-black text-white  z-10;
  }
  .service-box{
   @apply md:w-[80%] p-4 flex flex-col gap-3 border-2 rounded-md w-fit mx-auto shadow-2xl transition-all cursor-pointer;
  }
  .service-btn{
    @apply border-2 border-gray-300 text-black  w-full p-2 text-center md:w-fit rounded-md hover:bg-white transition-all cursor-pointer
  }
}
